
/* Title fonts */

@font-face {
    font-family: 'merriweatherbold';
    src: url('../fonts/merriweather/merriweather-bold-webfont.woff2') format('woff2'),
    url('../fonts/merriweather/merriweather-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Content fonts */

@font-face {
    font-family: "Muli";
    src: url("../fonts/muli/muli-regular-webfont.ttf") format("ttf"),
    url("../fonts/muli/muli-regular-webfont.eot") format("eot"),
    url("../fonts/muli/muli-regular-webfont.woff") format("woff"),
    url("../fonts/muli/muli-regular-webfont.woff2") format("woff2");

    font-weight: normal;
    font-style: normal;
}

/* Icon fonts */

@font-face {
    font-family: "oxicx";
    src:url("../fonts/oxi/oxicx.eot");
    src:url("../fonts/oxi/oxicx.eot?#iefix") format("embedded-opentype"),
    url("../fonts/oxi/oxicx.woff") format("woff"),
    url("../fonts/oxi/oxicx.ttf") format("truetype"),
    url("../fonts/oxi/oxicx.svg#oxicx") format("svg");
    font-weight: normal;
    font-style: normal;

}

[data-icon]:before {
    font-family: "oxicx", sans-serif !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "oxicx", sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-shrink:before {
    content: "\62";
    vertical-align: -20%;
}

.icon-bars-menu:before {
    content: "\61";
}
