

:root {
  --black: #001524;
  --white: #ffecd1;
  --blue: #98c1d9;
  --yellow: #ff7d00;
  --brown: #78290f;
}

.container {
  max-width: 960px;
}

h1 {
  font-family: "Merriweather", sans-serif;
  font-weight: 900;
}

p {
  font-family: "Muli", sans-serif;
}

/* Header **/

.site-header {
  background-color: var(--black)
}
.site-header a {
  transition: color .15s ease-in-out;
}

.site-header a:hover {
  color: var(--white);
  text-decoration: none;
}

.navbar-brand {
  line-height: 26px;
  color: var(--white);
  margin-top: 0;
  margin-bottom: auto;
}

.nav-buttons-wrapper {
  display: flex;
  padding-right: 0;
}

.navbar-toggler {
  color: var(--white);
  margin-left: 5px;
}

.icon-bars-solid::before {
  line-height: 30px !important;
}

.nav-items a {
    color: #727272;
}

.panel-buttons button:first-child {
    margin-right: 5px;
}

.nav-link {
  font-family: "Muli", sans-serif;
}

@media (min-width: 992px) {

  .nav-buttons-wrapper {
    flex-direction: row-reverse;

  }
}

@media (max-width: 991px) {

  .nav-wrapper {
    flex-wrap: nowrap !important
  }

  .nav-buttons-wrapper {
    flex-direction: column;
  }

  .panel-buttons {
    justify-content: flex-end;
  }

  .ul-nav-items {
    align-items: center;
    width: calc(100% - 103px);
  }
}

/* Shortener */

.index-shortener {
  display: flex;
}

.index-shortener-input {

}

.button-shorten {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {

  .index-shortener-input {
    width: inherit;
  }
}

/* Headline */

.bg-oxi-blue {
  background-color: var(--blue);
}

.index-headline {
  margin-top: 0 !important;
}

.headline-text-wrapper .h1:first-child {
  margin-bottom: 0;
}

/*
* Dummy devices (replace them with your own or something else entirely!)
*/

.big-icon {
  position: absolute;
  width: 500px;
  height: 500px;
}

.big-icon-right {
  right: 0;
  bottom: -20%;
  width: 500px;
  height: 500px;
  transform: rotate(30deg);
}

.big-icon-left {
  top: -30%;
  right: auto;
  left: 0;
  transform: rotate(-15deg);
}

@media (min-width: 768px) {

  .headline-text-wrapper {
    z-index: 10;
    position: relative;
    min-width: 484px;
    padding: 48px;
  }
}
@media (min-width: 768px) and (max-width: 1528px){

  .headline-text-wrapper {
    background: #fff;
  }
}
/* Extra utilities */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
